:root {
  --primary-color: #6b705c; /* Verde oliva oscuro */
  --secondary-color: #ffe8d6; /* Beige claro */
  --accent-color: #cb997e; /* Marrón claro */
  --highlight-color: #ddbea9; /* Rosa pálido */
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
  --font-size-small: 0.8em;
  --background-color: #f5f5dc; /* Blanco hueso */
  --button-background-color: #a5a58d; /* Verde oliva claro */
  --button-hover-background-color: #b7b7a4; /* Verde oliva más claro */
  --button-text-color: #fff; /* Color del texto del botón */
  --nivel-text-color: #cb997e; /* Color del texto de los niveles */
  --text-color: #6b705c; /* Color del texto general */
}

body, html {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--primary-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

header, footer {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 0;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  margin-left: 20px;
}

header nav {
  margin-right: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

header nav ul li a:hover {
  background-color: var(--highlight-color);
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
}

.featured-tutorials, .recommended-tutorials, .categoria, .niveles-page section, .perfil-section {
  padding: 10px; /* Ajuste para hacer las secciones más pequeñas */
  margin: 10px 0; /* Ajuste para hacer las secciones más pequeñas */
  background: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.tutorials, .videos, .categorias {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tutorial, .video, .categoria, .niveles-page section {
  flex: 1 1 calc(33.333% - 40px); /* Ajuste para mostrar 3 elementos en una línea */
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px; /* Ajuste para hacer las secciones más pequeñas */
  text-align: center;
}

.tutorial:hover, .video:hover, .categoria:hover, .niveles-page section:hover, .perfil-section:hover {
  transform: translateY(-5px);
  background-color: var(--highlight-color);
}

.tutorial h3, .video h3, .categoria h3, .niveles-page section h3, .perfil-section h2, .perfil-detalles h3, .perfil-actividades h3, .perfil-configuracion h3 {
  margin-bottom: 10px;
  color: var(--accent-color);
}

.tutorial p, .video p, .categoria p, .niveles-page section p, .perfil-detalles p, .perfil-actividades ul, .perfil-configuracion p {
  margin-bottom: 20px;
}

.video-placeholder {
  width: 100%;
  height: 200px;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: var(--font-size-base);
  margin-bottom: 10px;
}

button, .ver-mas-button {
  padding: 0.5em 1em; /* Botones más pequeños */
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-size-small);
  margin-top: 1em;
}

button:hover, .ver-mas-button:hover {
  background-color: var(--button-hover-background-color);
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  background: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: var(--primary-color);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--primary-color);
}

.form-group textarea {
  height: 150px;
  resize: none;
}

footer {
  margin-top: auto;
  width: 100%;
}

.additional-content {
  margin-bottom: 2em;
  color: var(--primary-color);
}

.additional-content h3 {
  margin-bottom: 0.5em;
  color: var(--primary-color);
}

.categoria-section, .niveles-page section {
  margin-bottom: 1.5em;
  color: var(--text-color); /* Asegúrate de que el color del texto sea consistente */
  text-align: center; /* Centra el contenido del texto */
}

.categoria-section {
  padding: 10px; /* Ajuste para hacer las secciones más pequeñas */
  margin: 10px 0; /* Ajuste para hacer las secciones más pequeñas */
  background: var(--secondary-color);
  border: 1px solid var(--primary-color); /* Añade el borde igual que en niveles */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
}

.categoria-section:hover {
  transform: translateY(-5px);
  background-color: var(--highlight-color);
}

/* Asegúrate de que el color del texto de cada categoría sea el mismo que el de cada nivel */
.categoria-section h3 {
  color: var(--nivel-text-color); /* Usa la misma variable de color que en los niveles */
}